{% extends 'base/base.html' %}
{% load static %}

{% block title %}Tutoriels | Atreyiu Hub{% endblock %}

{% block content %}
<div class="pattern-square"></div>
<!--Pageheader start-->
<section class="py-5 py-lg-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-1 col-md-12 col-12">
                <h1 class="mb-3">Tutoriels</h1>
                <p class="mb-0 lead">Apprenez avec moi.</p>
            </div>
        </div>
    </div>
</section>
<!--Pageheader end-->

<section class="mb-xl-9 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <p>Cette section est en cours de développement.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
