{% load static %}
<!doctype html>
<html lang="fr" data-bs-theme="light">
   <head>
      <!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 <!-- Favicon icon-->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicon/apple-touch-icon.png' %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon/favicon-32x32.png' %}" />
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon/favicon-16x16.png' %}" />
<link rel="manifest" href="{% static 'assets/images/favicon/site.webmanifest' %}" />
<link rel="mask-icon" href="{% static 'assets/images/favicon/block-safari-pinned-tab.svg' %}" color="#8b3dff" />
<link rel="shortcut icon" href="{% static 'assets/images/favicon/favicon.ico' %}" />
<meta name="msapplication-TileColor" content="#8b3dff" />
<meta name="msapplication-config" content="{% static 'assets/images/favicon/tile.xml' %}" />

<!-- Color modes -->
<script src="{% static 'assets/js/vendors/color-modes.js' %}"></script>

<!-- Libs CSS -->
<link href="{% static 'assets/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/libs/bootstrap-icons/font/bootstrap-icons.min.css' %}" rel="stylesheet" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">

      <title>E-mail envoyé - Atreyiu Hub V2</title>
   </head>

   <body>
      <main>
         <div class="pattern-square"></div>
         <section class="py-5 py-lg-8">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-xl-5 col-lg-6 col-md-8 col-12 text-center">
                        <img src="{% static 'assets/images/logo/brand-icon.svg' %}" alt="brand" class="mb-3" />
                        <h1 class="mb-3">E-mail envoyé !</h1>
                        <p class="mb-4">Nous vous avons envoyé un e-mail avec les instructions pour réinitialiser votre mot de passe. Si vous ne le recevez pas d'ici quelques minutes, vérifiez vos courriers indésirables.</p>
                        <a href="{% url 'login' %}" class="btn btn-primary">Retour à la connexion</a>
                  </div>
               </div>
            </div>
         </section>
      </main>
   </body>
</html>
