{% extends 'base/base.html' %}
{% load static %}

{% block title %}Jeux | Atreyiu Hub{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Jeux/css/Jeux.css' %}">
{% endblock %}

{% block content %}

<div class="pattern-square"></div>
<!--Pageheader start-->
<section class="py-5 py-lg-8">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="text-center">
                    <h1 class="mb-3">Conférences mondiales, meetups, événements et webinaires</h1>
                    <p class="mb-0">Rencontrez nos équipes techniques ou commerciales pour discuter de la liberté de construire du contenu infiniment composable.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Pageheader end-->
<!--Online start-->

<section class="mb-xl-9 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container swiper" id="swiper-1" data-pagination-type="" data-speed="400"
                    data-space-between="100" data-pagination="true" data-navigation="false" data-autoplay="true"
                    data-autoplay-delay="3000"
                    data-breakpoints='{"480": {"slidesPerView": 1}, "768": {"slidesPerView": 1}, "1024": {"slidesPerView": 1}}'>
                    <div class="swiper-wrapper pb-6">
                        <div class="swiper-slide">
                            <div class="card shadow-sm overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="card-body h-100 d-flex align-items-start flex-column p-lg-7">
                                            <div class="mb-3">
                                                <small class="text-uppercase fw-semibold ls-md">En ligne</small>
                                                <h2 class="mb-0 mt-3"><a href="#" class="text-reset">Événements et meetups pour les développeurs React - Next.js</a></h2>
                                            </div>
                                            <div class="mb-5">
                                                <small class="me-2">22 Juin, 2024</small>
                                                <small>13:00 EDT</small>
                                            </div>
                                            <div class="mt-auto">
                                                <a href="#!"
                                                    class="icon-link icon-link-hover card-link">
                                                    Plus de détails
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                        fill="currentColor" class="bi bi-arrow-right"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="
                                          background-image: url({% static 'assets/images/event/event-img-1.jpg' %});
                                          background-size: cover;
                                          background-repeat: no-repeat;
                                          background-position: center;
                                          min-height: 15rem;
                                       ">
                                        <!-- for mobile img-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow-sm overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="card-body h-100 d-flex align-items-start flex-column p-lg-7">
                                            <div class="mb-4">
                                                <small class="text-uppercase fw-semibold ls-md">En ligne</small>
                                                <h2 class="mb-0 mt-3"><a href="#" class="text-reset">Événements et meetups pour les développeurs React - Next.js</a></h2>
                                            </div>
                                            <div class="mb-5">
                                                <small class="me-2">22 Juin, 2024</small>
                                                <small>13:00 EDT</small>
                                            </div>
                                            <div class="mt-auto">
                                                <a href="#!"
                                                    class="icon-link icon-link-hover card-link">
                                                    Plus de détails
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                        fill="currentColor" class="bi bi-arrow-right"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="
                                          background-image: url({% static 'assets/images/event/event-img-2.jpg' %});
                                          background-size: cover;
                                          background-repeat: no-repeat;
                                          background-position: center;
                                          min-height: 15rem;
                                       ">
                                        <!-- for mobile img-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card shadow-sm overflow-hidden">
                                <div class="row g-0">
                                    <div class="col-xl-6 col-md-6">
                                        <div class="card-body h-100 d-flex align-items-start flex-column p-lg-7">
                                            <div class="mb-4">
                                                <small class="text-uppercase fw-semibold ls-md">En ligne</small>
                                                <h2 class="mb-0 mt-3"><a href="#" class="text-reset">Événements et meetups pour les développeurs React - Next.js</a></h2>
                                            </div>
                                            <div class="mb-5">
                                                <small class="me-2">22 Juin, 2024</small>
                                                <small>13:00 EDT</small>
                                            </div>
                                            <div class="mt-auto">
                                                <a href="#!"
                                                    class="icon-link icon-link-hover card-link">
                                                    Plus de détails
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                        fill="currentColor" class="bi bi-arrow-right"
                                                        viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd"
                                                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="
                                          background-image: url({% static 'assets/images/event/event-img-3.jpg' %});
                                          background-size: cover;
                                          background-repeat: no-repeat;
                                          background-position: center;
                                          min-height: 15rem;
                                       ">
                                        <!-- for mobile img-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add more slides as needed -->
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Navigation -->
                    <div class="swiper-navigation">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Online end-->

<!--All events start-->
<section class="mb-xl-9 my-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-12">
                <div class="mb-4">
                    <h3 class="mb-4">Tous les événements</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 col-12">
                <div class="row g-3 align-items-center">
                    <div class="col-lg-6 col-md-6 col-12">
                        <label for="eventList" class="form-label visually-hidden">Rechercher une catégorie</label>
                        <select class="form-select" id="eventList">
                            <option selected disabled value="">Type d'événement</option>
                            <option value="Conferences">Conférences</option>
                            <option value="Online">En ligne</option>
                            <option value="Livestream">Direct</option>
                            <option value="Video">Vidéo</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-6">
                <div class="card shadow-sm h-100 border-0 card-lift overflow-hidden">
                    <div class="row h-100 g-0">
                        <a href="#!" class="col-lg-5 col-md-12" style="
                                 background-image: url({% static 'assets/images/event/event-img-2.jpg' %});
                                 background-size: cover;
                                 background-repeat: no-repeat;
                                 background-position: center;
                                 min-height: 13rem;
                              "></a>
                        <div class="col-lg-7 col-md-12">
                            <div
                                class="card-body h-100 d-flex align-items-start flex-column border rounded-end-lg-3 rounded-bottom-3 rounded-top-0 rounded-start-lg-0 border-start-lg-0 border-top-0 border-top-lg">
                                <div class="mb-5">
                                    <small class="text-uppercase fw-semibold ls-md">Conférence</small>
                                    <h4 class="my-2"><a href="#!" class="text-reset">Comment construire un blog avec Astro et Contentful</a></h4>
                                    <small>2 Juillet, 2024</small>
                                </div>
                                <div class="mt-auto">
                                    <small class="me-2">9:00 EDT</small>
                                    <small>Allemagne</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm h-100 border-0 card-lift overflow-hidden">
                    <div class="row g-0 h-100">
                        <a href="#!" class="col-lg-5 col-md-12" style="
                                 background-image: url({% static 'assets/images/event/event-img-3.jpg' %});
                                 background-size: cover;
                                 background-repeat: no-repeat;
                                 background-position: center;
                                 min-height: 13rem;
                              "></a>
                        <div class="col-lg-7 col-md-12">
                            <div
                                class="card-body h-100 d-flex align-items-start flex-column border rounded-end-lg-3 rounded-bottom-3 rounded-top-0 rounded-start-lg-0 border-start-lg-0 border-top-0 border-top-lg">
                                <div class="mb-5">
                                    <small class="text-uppercase fw-semibold ls-md">Conférence</small>
                                    <h4 class="my-2"><a href="#!" class="text-reset">Un regard sur la création avec le template Astro</a></h4>
                                    <small>28 Juin, 2024</small>
                                </div>
                                <div class="mt-auto">
                                    <small class="me-2">9:00 EDT</small>
                                    <small>Inde</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm h-100 border-0 card-lift overflow-hidden">
                    <div class="row h-100 g-0">
                        <a href="#!" class="col-lg-5 col-md-12" style="
                                 background-image: url({% static 'assets/images/event/event-img-4.jpg' %});
                                 background-size: cover;
                                 background-repeat: no-repeat;
                                 background-position: center;
                                 min-height: 13rem;
                              "></a>
                        <div class="col-lg-7 col-md-12">
                            <div
                                class="card-body h-100 d-flex align-items-start flex-column border rounded-end-lg-3 rounded-bottom-3 rounded-top-0 rounded-start-lg-0 border-start-lg-0 border-top-0 border-top-lg">
                                <div class="mb-5">
                                    <small class="text-uppercase fw-semibold ls-md">En ligne</small>
                                    <h4 class="my-2"><a href="#!" class="text-reset">Créer un blog avec Next.js, React et Sanity</a></h4>
                                    <small>26 Juin, 2024</small>
                                </div>
                                <div class="mt-auto">
                                    <small class="me-2">9:00 EDT</small>
                                    <small>Dubaï</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm h-100 border-0 card-lift overflow-hidden">
                    <div class="row g-0 h-100">
                        <a href="#!" class="col-lg-5 col-md-12" style="
                                 background-image: url({% static 'assets/images/event/event-img-5.jpg' %});
                                 background-size: cover;
                                 background-repeat: no-repeat;
                                 background-position: center;
                                 min-height: 13rem;
                              "></a>
                        <div class="col-lg-7 col-md-12">
                            <div
                                class="card-body h-100 d-flex align-items-start flex-column border rounded-end-lg-3 rounded-bottom-3 rounded-top-0 rounded-start-lg-0 border-start-lg-0 border-top-0 border-top-lg">
                                <div class="mb-5">
                                    <small class="text-uppercase fw-semibold ls-md">Direct</small>
                                    <h4 class="my-2"><a href="#!" class="text-reset">Utilisation de Contentful CMS avec Next.js</a></h4>
                                    <small>22 Juin, 2024</small>
                                </div>
                                <div class="mt-auto">
                                    <small class="me-2">9:00 EDT</small>
                                    <small>Londres</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--All events end-->
<!--Webinar start-->
<section class="mb-xl-9 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-4">Webinaires en vidéo à la demande</h3>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="card border-0 shadow-sm h-100 card-lift">
                    <figure>
                        <a href="#!">
                            <img loading="lazy" src="{% static 'assets/images/event/event-img-2.jpg' %}" alt="event" class="card-img-top" />
                        </a>
                    </figure>

                    <div
                        class="card-body h-100 d-flex align-items-start flex-column border rounded-bottom-3 border-top-0">
                        <div class="mb-5">
                            <small class="text-uppercase fw-semibold ls-md">Webinaire</small>
                            <h4 class="my-2"><a href="#!" class="text-reset">Comment construire un blog avec Astro et Contentful</a></h4>
                            <small>22 Juin, 2024</small>
                        </div>
                        <div class="d-flex justify-content-between w-100 mt-auto">
                            <small>9:00 EDT</small>
                            <small>Allemagne</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card border-0 shadow-sm h-100 card-lift">
                    <figure>
                        <a href="#!">
                            <img loading="lazy" src="{% static 'assets/images/event/event-img-5.jpg' %}" alt="event" class="card-img-top" />
                        </a>
                    </figure>

                    <div
                        class="card-body h-100 d-flex align-items-start flex-column border rounded-bottom-3 border-top-0">
                        <div class="mb-5">
                            <small class="text-uppercase fw-semibold ls-md">Webinaire</small>
                            <h4 class="my-2"><a href="#!" class="text-reset">Composants Astro et blocs de construction de base</a></h4>
                            <small>22 Juin, 2024</small>
                        </div>
                        <div class="d-flex justify-content-between w-100 mt-auto">
                            <small>9:00 EDT</small>
                            <small>Allemagne</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card border-0 shadow-sm h-100 card-lift">
                    <figure>
                        <a href="#!">
                            <img loading="lazy" src="{% static 'assets/images/event/event-img-4.jpg' %}" alt="event" class="card-img-top" />
                        </a>
                    </figure>

                    <div
                        class="card-body h-100 d-flex align-items-start flex-column border rounded-bottom-3 border-top-0">
                        <div class="mb-5">
                            <small class="text-uppercase fw-semibold ls-md">Webinaire</small>
                            <h4 class="my-2"><a href="#!" class="text-reset">Utilisation de Contentful CMS avec Next.js</a></h4>
                            <small>22 Juin, 2024</small>
                        </div>
                        <div class="d-flex justify-content-between w-100 mt-auto">
                            <small>9:00 EDT</small>
                            <small>Allemagne</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Webinar end-->

{% endblock %}